{% extends 'base.html.twig' %}
{%form_theme form 'bootstrap_5_layout.html.twig'%}
{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
{{form_start(form)}}
    {{form_row(form.name)}}
    <button type="submit" class="btn btn-success">Valider</button>
{{form_end(form)}}
{% endblock %}
